<ng-template [ngIf]="!editing" [ngIfElse]="formTemplate">
  <div class="list-item">
    <input class="toggle" type="checkbox" (click)="toggleTodoComplete()" [checked]="todo.complete">
    <label (dblclick)="editTodo()">{{todo.title}}</label>
    <button class="destroy" (click)="removeTodo()">-</button>
  </div>
</ng-template>

<ng-template #formTemplate>
  <form (ngSubmit)="doneEditing()">
    <label>
      <input #formTemplate__input type="text" [formControl]="todoForm" (keyup.escape)="revertEdits()" (blur)="doneEditing()" >
    </label>
  </form>
</ng-template>
